*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.para{
    margin: 0 auto;
    line-height: 1.6;
    word-spacing: 0.2px;
    padding: 0 70px;
}
.imp-para{
    padding-top: 90px;
    
}
.tools{
    padding-top: 90px;
}
.tools1{
    padding: 0 70px;
}